/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

$primary-blue: #01498C;



$secondary-blue: #E4E9F3;

$primary-green: #428A2F;
$secondary-green: #E5EFE2;

$primary-yellow: #B09E3D;
$secondary-yellow: #F4F1E4;

$grey: #141414;

