@import "src/global-styles/styles/root.scss";

/* SEKCJA TECHNIKUM I LICEUM */

#home-page h1{
    color: $primary-blue;
    font-size: 40px;
}
  
.schools{
    margin: 100px 130px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
  
.technikum{
    background-image: url(/assets/images/technikum.png);
}
  
.liceum{
    background-image: url(/assets/images/liceum.png);
}
  
.technikum, .liceum{
    width: 720px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.technikum__content, .liceum__content{
    text-align: center;
}

#home-page button{
    background-color: $primary-blue;
    border: none;
    padding: 20px 25px;
}
  
#home-page button a{
    text-decoration: none;
}
  
#home-page button:hover {
    background-color: #5ca5e8;
}
  
/* SEKCJA PERSWAZJI */
  
#aktualności{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}
.aktualności__img{
    background-image: url(/assets/images/persuasion.png);
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
}
  
.aktualności__content{
    width: 1800px;
    height: 250px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}
.aktualności__text{
    margin: 0 130px;
}

.news{
    margin: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 130px;
}

.news h1{
    color: $primary-blue;
    font-size: xx-large;
}

.news p{
    color: #000;
    font-size: larger;
}

.news__article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}