@import "src/global-styles/styles/root.scss";

/* SEKCJA */

#liceum{
    margin: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 130px;
}

#liceum h1{
    color: $primary-blue;
    font-size: xx-large;
}

#liceum p{
    color: #000;
    font-size: larger;
}

.liceum__article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}